@use '../variables/' as *;

.initials-name {
    width: 36px;
    height: 36px;
    background-color: $badge-bg;
    color: $badge-color;
    font-weight: $font-bold;
    font-size: 14px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    text-transform: uppercase;

    &.large {
        width: 48px;
        height: 48px;
        font-size: 18px;
    }
}