@use '../variables' as *;

.card {
    border: solid 1px $input-border;
    box-shadow: 0 0 2px 0 $input-border;
    background-color: transparent;
    border-radius: 7px;

    &.sm {
        width: 35px;
        height: 60px;
    }

    &.lg {
        width: 53px;
        height: 86px;
    }
}