@use '../variables' as *;

.join-party {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .header {
        padding: 35px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .title-party {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 26px;
            font-weight: $font-bold;
        }

        .right-badge {
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }

    .join-content {
        display: grid;
        place-content: center;

        .table-outline {
            display: grid;
            place-content: center;
            width: 553px;
            height: 295px;
            border: 1px solid $border-first;
            border-radius: 226px;
            box-shadow: 0 0 2px 0 $color;

            .table-middle {
                display: grid;
                place-content: center;
                width: 505px;
                height: 248px;
                border: 1px solid $border-first;
                border-radius: 226px;
                box-shadow: 0 0 2px 0 $color;

                .table-inner {
                    width: 471px;
                    height: 222px;
                    background-color: $bg-soft;
                    opacity: 0.6;
                    border: 1px solid $border-first;
                    border-radius: 226px;
                    box-shadow: 0 0 2px 0 $color;
                }
            }
        }
    }
}

.modal-name {
    width: 514px;
    height: 294px;
    display: grid;
    place-content: center;

    .form-name {
        width: 292px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .radio-group {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 37px;
        }
    }

}