@use '@/styles/variables' as *;

.card {
    border: solid 1px $card-border;
    border-radius: 7px;
    background-color: transparent;

    &--small {
        width: 35px;
        height: 60px;
    }

    &--large {
        width: 53px;
        height: 86px;
    }
}