@use '@/styles/variables' as *;

.card {
    border: solid 1px $input-border;
    box-shadow: 0 0 2px 0 $input-border;
    border-radius: 7px;

    &--small {
        width: 35px;
        height: 60px;
    }

    &--large {
        width: 53px;
        height: 86px;
    }
}