@use '@/styles/variables' as *;

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: grid;
    place-content: center;
    z-index: 1;

    &__content {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow: hidden;
        border: 1px solid $input-border;
        box-shadow: 0 0 10px 0 $input-border;
        background-color: $bg-soft;
        border-radius: 25px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
        background-color: $border-first;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1
    }
}
