@use '@/styles/variables' as *;

.header {
    padding: 35px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        text-align: center;
        transform: translateX(50%);
        font-size: 26px;
        font-weight: $font-bold;
    }

    &__badge {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}