// Background
$bg-dark: #330072;
$bg-soft: #1F0D3F;

// Foreground
$color: #fff;

// Inputs
$input-border: #BB65FF;
$input-color: $color;
$placeholder-color: #9D9DA1;

// Buttons
$btn-bg-primary: #F6F7FC;
$btn-color-primary: $bg-dark;